{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
                <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                        <h6 class="mb-0">Info about your account</h6>
                    </div>
                </div>
            </div>
            <div class="card-body p-3">
                <h6 class="mb-0 text-xxl">{{ request.user.username }}</h6>
                  <p class="mb-0 font-weight-bold text-xxl">

                        {% if request.user.email %}
                          {{ request.user.email }}
                        {% endif %}
                      </p>
                <br>
                <h6 class="text-body text-xl font-weight-bolder">Count files - {{ count_files }}</h6>
                <h6 class="text-body text-xl font-weight-bolder">Last login  - {{ request.user.last_login }}</h6>
                <h6 class="text-body text-xl font-weight-bolder">Date joined - {{ request.user.date_joined }}</h6>
                <h6 class="text-body text-xl font-weight-bolder">Your role   -
                    {% if request.user.is_superuser %}
                        Admin
                    {% else %}
                        User
                    {% endif %}
                </h6>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                  <h6 class="mb-0">Change Password</h6>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              {% if msg %}
                {% if success %}
                    <span class="text-success">{{ msg | safe }}</span>
                {% else %}
                    <span class="text-danger">{{ msg | safe }}</span>
                {% endif %}
              {% endif %}
              <form role="form text-left" method="post" action="">

                      {% csrf_token %}
                      <label>Old password</label>
                      <div class="mb-3">
                        {{ form.old_password }}
                      </div>
                      <span class="text-danger">{{ form.old_password.errors }}</span>

                      <label>New password</label>
                      <div class="mb-3">
                        {{ form.new_password1 }}
                      </div>
                      <span class="text-danger">{{ form.new_password1.errors }}</span>

                      <label>Password (again)</label>
                      <div class="mb-3">
                        {{ form.new_password2 }}
                      </div>
                      <span class="text-danger">{{ form.new_password2.errors }}</span>

                      <div class="text-center">
                        <button type="submit" name="change" class="btn bg-gradient-dark w-100 my-4 mb-2">Change</button>
                      </div>
              </form>
            </div>
          </div>
        </div>

    </div>
  {% include "includes/footer.html" %}
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
