{% extends 'layouts/base.html' %}

{% block title %} Create {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">

    <div class="row">
      <div class="col-lg-8">
        <div class="row align-items-center">
          <div class="col-xl-4 mb-xl-0 mb-4">
              
          </div>
          <div class="col-xl-8">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header mx-4 p-3 text-center">
                    <div class="icon icon-shape icon-lg bg-gradient-dark shadow text-center border-radius-lg">
                      <i class="fa fa-file opacity-10"></i>
                    </div>
                  </div>
                  <div class="card-body pt-0 p-3 text-center">
                    <h6 class="text-center mb-0">Traffic classification</h6>
                    <span class="text-xs">Upload your traffic file in .psap extension</span>
                    <hr class="horizontal dark my-3">
                    <div class="mb-3">
                      <form method = "post", enctype="multipart/form-data">
                         {% csrf_token %}
                         {{ form }}
                         <div class="p-3">
                           <button type="submit" class="h6 btn btn-dark">Sending file</button>
                         </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mt-md-0 mt-4">
                <div class="card">
                  <div class="card-header mx-4 p-3 text-center">
                    <div class="icon icon-shape icon-lg bg-gradient-dark shadow text-center border-radius-lg">
                      <i class="fa fa-file opacity-10"></i>
                    </div>
                  </div>
                  <div class="card-body pt-0 p-3 text-center">
                    <h6 class="text-center mb-0">Traffic scanning</h6>
                    <span class="text-xs">Upload your traffic file in .psap extension</span>
                    <hr class="horizontal dark my-3">
                    <div class="mb-3">
                      <form method = "post", enctype="multipart/form-data">
                         {% csrf_token %}
                         {{ form }}
                         <div class="p-3">
                           <button type="submit" class="h6 btn btn-dark">Sending file</button>
                         </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2">
      </div>
    </div>
  </div>
  {% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
